﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">My Modal title</h1>
    </ion-header-bar>
    <ion-content>
        Hello!
    </ion-content>
</ion-modal-view>

<!--
<div class="modal">
    <ion-header-bar>
        <h1 class="title">Image Actions:</h1>
    </ion-header-bar>
    <ion-content>
        <div class="modalPreview">
            <div style="background-image: url('{{selectedPhoto.thumbPath}}');" class="modalImg {{selectedPhoto.bundle.attributes.tagged | paintUntagged}}">
            </div>
            <div class="modalTags">
                <h3 style="color:#ddd">{{selectedPhoto.bundle.tagString}}</h3>
            </div>
        </div>
        <ion-list>
            <ion-item ng-click="shareFacebookSingle()"><i class="fa fa-fw fa-facebook"></i>  facebook it!</a></ion-item>
            <ion-item ng-click="shareTwitterSingle()"><i class="fa fa-fw fa-twitter"></i>  tweeter it!...</a></ion-item>
            <ion-item ng-click="shareEmailSingle()"><i class="fa fa-fw fa-envelope"></i>  mail it!...</a></ion-item>
            <ion-item ng-click="shareSingle()"><i class="fa fa-fw fa-share"></i>  share...</a></ion-item>
            <ion-item ng-click="closePhotoModal()"><i class="fa fa-fw fa-angle-down"></i>  cancel</a></ion-item>
            </ion-item>
        </ion-list>
    </ion-content>
</div> -->