
<ion-view align-title="center" title="GOLDILOCKS">
<ion-content style="background-color: #e9e9e9;">
<div ng-hide="currentUser.attributes.emailVerified">
        <form class="loginForm" ng-show="scenario == 'Sign up'">
          <div class="login"> 
            <br/>
            <br/>
              <h1 style="text-align: center;">Looks like</h1>
              <h1 style="text-align: center;">you're new here.</h1>
              <div style="text-align: center;">
                  <a href="" ng-click='scenario="Log in"'>I'm on the list.</a><br /><br />
              </div>
            
        
              <div class="list list-inset">
                <label class="item item-input">
                <i class="fa fa-envelope fa-fw">  </i> 
                  <input id="email" type="email" ng-model="user.email" placeholder="// email"/>
                </label>
                <label class="item item-input">
                <i class="fa fa-user fa-fw">  </i> 
                  <input type="text" ng-model="user.username" placeholder="// username "/>
                </label>
                <label class="item item-input">
                  <i class="fa fa-key fa-fw">  </i>
                  <input type="password" ng-model="user.password" placeholder="// password "/>
                </label>
                  <button style="width: 100%" class="login-button button button-energized" ng-click="signUp(user)">Put me on the list!</button>
              </div>  
            </div>


        </form>

      
    
    <form class="loginForm" ng-show="scenario == 'Log in'">
      <div class="login" >
        <br/>
        <br/>
        <h1 style="text-align: center;">What's the</h1>
          <h1 style="text-align: center;">secret password?</h1>
          <div style="text-align: center;" >
              <a href="" ng-click='scenario="Sign up"'>I need to sign up.</a><br /><br />
          </div>
            <div style="background-color: #e9e9e9;" class="list list-inset">
              <br style="line-height:46px"/>
                <label class="item item-input">
              <i class="fa fa-user fa-fw">  </i> 
                <input type="text" ng-model="user.username" placeholder="// username "/>
              </label>
              <label class="item item-input">
                <i class="fa fa-key fa-fw">  </i>
                <input type="password" ng-model="user.password" placeholder="// password "/>
              </label>
                <button style="width:100%;" class="login-button button button-energized" ng-click="logIn(user)">Let me in!</button>
            </div>  
        <div style="line-height:47px; text-align:center;"><a href="" ng-click="resetPassword()">I forgot my password!</a></div>
      </div>
        <br/>
        
        <br />
    </form>
  </div>
  
  <div ng-show="currentUser.attributes.emailVerified">
    <form>
      <div class="login" >
          <br/>
          <br/>
          <h1>Welcome, {{currentUser.get('username')}}.</h1>
          <p>You have been checked in.</p>
      </div>
    </form>
      <br />

      <div class="login">
          <!--<ion-spinner icon="ripple"></ion-spinner>-->
      </div>
      <br />
      <div class="login">
          <img src="img/furniture.gif" style="width:80%" />
      </div>
      <br />
      <div  style="text-align: center;">
          <button class="button button-calm" ng-click="gotoMap()">Main</button>
          <button class="button button-calm" ng-click="logOut(user)"><i class="fa fa-sign-out"></i> Logout</button>
      </div>
  </div>
  </ion-content>
  </ion-view>