<svg id="map" xmlns="http://www.w3.org/2000/svg" version="1.1" width="3000" height="1800"> 
    <g id="BG">
         <g><image transform="scale(1.354)" x="-1361" y="-1030" width="5000" height="3166" xlink:href="svg-8-bg.gif" /></g>
        
<g><polygon points="690.4,394.0 806.1,386.4 809.6,439.0 694.1,449.3 "></g>
<g><polygon points="747.3,853.2 686.7,849.2 690.5,791.9 751.1,795.9 "></g>
<g><polygon points="2159.8,575.3 2203.3,575.3 2203.3,571.3 2159.8,570.0 "></g>
<g><polygon points="2159.8,625.9 2203.3,625.9 2203.3,575.3 2159.8,575.3 "></g>
<g><polygon points="2159.8,676.5 2203.3,676.5 2203.3,625.9 2159.8,625.9 "></g>
<g><polygon points="2159.8,727.1 2203.3,727.1 2203.3,676.5 2159.8,676.5 "></g>
<g><polygon points="2159.8,777.7 2203.3,777.7 2203.3,727.1 2159.8,727.1 "></g>
<g><polygon points="2159.8,828.3 2203.3,828.3 2203.3,777.7 2159.8,777.7 "></g>
<g><polygon points="2159.8,878.9 2203.3,878.9 2203.3,828.3 2159.8,828.3 "></g>
<g><polygon points="2159.8,929.5 2203.3,929.5 2203.3,878.9 2159.8,878.9 "></g>
<g><polygon points="2159.8,980.1 2203.3,980.1 2203.3,929.5 2159.8,929.5 "></g>
<g><polygon points="2159.8,1030.7 2203.3,1030.7 2203.3,980.1 2159.8,980.1 "></g>
<g><polygon points="2159.8,1081.3 2203.3,1081.3 2203.3,1030.7 2159.8,1030.7 "></g>
<g><polygon points="2159.8,1131.9 2203.3,1131.9 2203.3,1081.3 2159.8,1081.3 "></g>
<g><polygon points="2159.8,1182.5 2203.3,1182.5 2203.3,1131.9 2159.8,1131.9 "></g>
<g><polygon points="2159.8,1197.1 2203.3,1200.0 2203.3,1182.5 2159.8,1182.5 "></g>
<g><polygon points="2109.2,575.3 2159.8,575.3 2159.8,570.0 2109.2,568.4 "></g>
<g><polygon points="2109.2,625.9 2159.8,625.9 2159.8,575.3 2109.2,575.3 "></g>
<g><polygon points="2109.2,676.5 2159.8,676.5 2159.8,625.9 2109.2,625.9 "></g>
<g><polygon points="2109.2,727.1 2159.8,727.1 2159.8,676.5 2109.2,676.5 "></g>
<g><polygon points="2109.2,777.7 2159.8,777.7 2159.8,727.1 2109.2,727.1 "></g>
<g><polygon points="2109.2,828.3 2159.8,828.3 2159.8,777.7 2109.2,777.7 "></g>
<g><polygon points="2109.2,878.9 2159.8,878.9 2159.8,828.3 2109.2,828.3 "></g>
<g><polygon points="2109.2,929.5 2159.8,929.5 2159.8,878.9 2109.2,878.9 "></g>
<g><polygon points="2109.2,980.1 2159.8,980.1 2159.8,929.5 2109.2,929.5 "></g>
<g><polygon points="2109.2,1030.7 2159.8,1030.7 2159.8,980.1 2109.2,980.1 "></g>
<g><polygon points="2109.2,1081.3 2159.8,1081.3 2159.8,1030.7 2109.2,1030.7 "></g>
<g><polygon points="2109.2,1131.9 2159.8,1131.9 2159.8,1081.3 2109.2,1081.3 "></g>
<g><polygon points="2109.2,1182.5 2159.8,1182.5 2159.8,1131.9 2109.2,1131.9 "></g>
<g><polygon points="2109.2,1193.8 2159.8,1197.1 2159.8,1182.5 2109.2,1182.5 "></g>
<g><polygon points="2058.6,575.3 2109.2,575.3 2109.2,568.4 2058.6,566.8 "></g>
<g><polygon points="2058.6,625.9 2109.2,625.9 2109.2,575.3 2058.6,575.3 "></g>
<g><polygon points="2058.6,676.5 2109.2,676.5 2109.2,625.9 2058.6,625.9 "></g>
<g><polygon points="2058.6,727.1 2109.2,727.1 2109.2,676.5 2058.6,676.5 "></g>
<g><polygon points="2058.6,777.7 2109.2,777.7 2109.2,727.1 2058.6,727.1 "></g>
<g><polygon points="2058.6,828.3 2109.2,828.3 2109.2,777.7 2058.6,777.7 "></g>
<g><polygon points="2058.6,878.9 2109.2,878.9 2109.2,828.3 2058.6,828.3 "></g>
<g><polygon points="2058.6,929.5 2109.2,929.5 2109.2,878.9 2058.6,878.9 "></g>
<g><polygon points="2058.6,980.1 2109.2,980.1 2109.2,929.5 2058.6,929.5 "></g>
<g><polygon points="2058.6,1030.7 2109.2,1030.7 2109.2,980.1 2058.6,980.1 "></g>
<g><polygon points="2058.6,1081.3 2109.2,1081.3 2109.2,1030.7 2058.6,1030.7 "></g>
<g><polygon points="2058.6,1131.9 2109.2,1131.9 2109.2,1081.3 2058.6,1081.3 "></g>
<g><polygon points="2058.6,1182.5 2109.2,1182.5 2109.2,1131.9 2058.6,1131.9 "></g>
<g><polygon points="2058.6,1190.5 2109.2,1193.8 2109.2,1182.5 2058.6,1182.5 "></g>
<g><polygon points="2008.0,575.3 2058.6,575.3 2058.6,566.8 2008.0,565.2 "></g>
<g><polygon points="2008.0,625.9 2058.6,625.9 2058.6,575.3 2008.0,575.3 "></g>
<g><polygon points="2008.0,676.5 2058.6,676.5 2058.6,625.9 2008.0,625.9 "></g>
<g><polygon points="2008.0,727.1 2058.6,727.1 2058.6,676.5 2008.0,676.5 "></g>
<g><polygon points="2008.0,777.7 2058.6,777.7 2058.6,727.1 2008.0,727.1 "></g>
<g><polygon points="2008.0,828.3 2058.6,828.3 2058.6,777.7 2008.0,777.7 "></g>
<g><polygon points="2008.0,878.9 2058.6,878.9 2058.6,828.3 2008.0,828.3 "></g>
<g><polygon points="2008.0,929.5 2058.6,929.5 2058.6,878.9 2008.0,878.9 "></g>
<g><polygon points="2008.0,980.1 2058.6,980.1 2058.6,929.5 2008.0,929.5 "></g>
<g><polygon points="2008.0,1030.7 2058.6,1030.7 2058.6,980.1 2008.0,980.1 "></g>
<g><polygon points="2008.0,1081.3 2058.6,1081.3 2058.6,1030.7 2008.0,1030.7 "></g>
<g><polygon points="2008.0,1131.9 2058.6,1131.9 2058.6,1081.3 2008.0,1081.3 "></g>
<g><polygon points="2008.0,1182.5 2058.6,1182.5 2058.6,1131.9 2008.0,1131.9 "></g>
<g><polygon points="2008.0,1187.2 2058.6,1190.5 2058.6,1182.5 2008.0,1182.5 "></g>
<g><polygon points="1957.4,575.3 2008.0,575.3 2008.0,565.2 1957.4,563.7 "></g>
<g><polygon points="1957.4,625.9 2008.0,625.9 2008.0,575.3 1957.4,575.3 "></g>
<g><polygon points="1957.4,676.5 2008.0,676.5 2008.0,625.9 1957.4,625.9 "></g>
<g><polygon points="1957.4,727.1 2008.0,727.1 2008.0,676.5 1957.4,676.5 "></g>
<g><polygon points="1957.4,777.7 2008.0,777.7 2008.0,727.1 1957.4,727.1 "></g>
<g><polygon points="1957.4,828.3 2008.0,828.3 2008.0,777.7 1957.4,777.7 "></g>
<g><polygon points="1957.4,878.9 2008.0,878.9 2008.0,828.3 1957.4,828.3 "></g>
<g><polygon points="1957.4,929.5 2008.0,929.5 2008.0,878.9 1957.4,878.9 "></g>
<g><polygon points="1957.4,980.1 2008.0,980.1 2008.0,929.5 1957.4,929.5 "></g>
<g><polygon points="1957.4,1030.7 2008.0,1030.7 2008.0,980.1 1957.4,980.1 "></g>
<g><polygon points="1957.4,1081.3 2008.0,1081.3 2008.0,1030.7 1957.4,1030.7 "></g>
<g><polygon points="1957.4,1131.9 2008.0,1131.9 2008.0,1081.3 1957.4,1081.3 "></g>
<g><polygon points="1957.4,1182.5 2008.0,1182.5 2008.0,1131.9 1957.4,1131.9 "></g>
<g><polygon points="1957.4,1183.8 2008.0,1187.2 2008.0,1182.5 1957.4,1182.5 "></g>
<g><polygon points="1906.8,575.3 1957.4,575.3 1957.4,563.7 1906.8,562.1 "></g>
<g><polygon points="1906.8,625.9 1957.4,625.9 1957.4,575.3 1906.8,575.3 "></g>
<g><polygon points="1906.8,676.5 1957.4,676.5 1957.4,625.9 1906.8,625.9 "></g>
<g><polygon points="1906.8,727.1 1957.4,727.1 1957.4,676.5 1906.8,676.5 "></g>
<g><polygon points="1906.8,777.7 1957.4,777.7 1957.4,727.1 1906.8,727.1 "></g>
<g><polygon points="1906.8,828.3 1957.4,828.3 1957.4,777.7 1906.8,777.7 "></g>
<g><polygon points="1906.8,878.9 1957.4,878.9 1957.4,828.3 1906.8,828.3 "></g>
<g><polygon points="1906.8,929.5 1957.4,929.5 1957.4,878.9 1906.8,878.9 "></g>
<g><polygon points="1906.8,980.1 1957.4,980.1 1957.4,929.5 1906.8,929.5 "></g>
<g><polygon points="1906.8,1030.7 1957.4,1030.7 1957.4,980.1 1906.8,980.1 "></g>
<g><polygon points="1906.8,1081.3 1957.4,1081.3 1957.4,1030.7 1906.8,1030.7 "></g>
<g><polygon points="1906.8,1131.9 1957.4,1131.9 1957.4,1081.3 1906.8,1081.3 "></g>
<g><polygon points="1906.8,1180.5 1936.8,1182.5 1957.4,1182.5 1957.4,1131.9 1906.8,1131.9 "></g>
<g><polygon points="1936.8,1182.5 1957.4,1183.8 1957.4,1182.5 "></g>
<g><polygon points="1856.2,575.3 1906.8,575.3 1906.8,562.1 1856.2,560.5 "></g>
<g><polygon points="1856.2,625.9 1906.8,625.9 1906.8,575.3 1856.2,575.3 "></g>
<g><polygon points="1856.2,676.5 1906.8,676.5 1906.8,625.9 1856.2,625.9 "></g>
<g><polygon points="1856.2,727.1 1906.8,727.1 1906.8,676.5 1856.2,676.5 "></g>
<g><polygon points="1856.2,777.7 1906.8,777.7 1906.8,727.1 1856.2,727.1 "></g>
<g><polygon points="1856.2,828.3 1906.8,828.3 1906.8,777.7 1856.2,777.7 "></g>
<g><polygon points="1856.2,878.9 1906.8,878.9 1906.8,828.3 1856.2,828.3 "></g>
<g><polygon points="1856.2,929.5 1906.8,929.5 1906.8,878.9 1856.2,878.9 "></g>
<g><polygon points="1856.2,980.1 1906.8,980.1 1906.8,929.5 1856.2,929.5 "></g>
<g><polygon points="1856.2,1030.7 1906.8,1030.7 1906.8,980.1 1856.2,980.1 "></g>
<g><polygon points="1856.2,1081.3 1906.8,1081.3 1906.8,1030.7 1856.2,1030.7 "></g>
<g><polygon points="1856.2,1131.9 1906.8,1131.9 1906.8,1081.3 1856.2,1081.3 "></g>
<g><polygon points="1856.2,1177.2 1906.8,1180.5 1906.8,1131.9 1856.2,1131.9 "></g>
<g><polygon points="1805.7,575.3 1856.2,575.3 1856.2,560.5 1805.7,558.9 "></g>
<g><polygon points="1805.7,625.9 1856.2,625.9 1856.2,575.3 1805.7,575.3 "></g>
<g><polygon points="1805.7,676.5 1856.2,676.5 1856.2,625.9 1805.7,625.9 "></g>
<g><polygon points="1805.7,727.1 1856.2,727.1 1856.2,676.5 1805.7,676.5 "></g>
<g><polygon points="1805.7,777.7 1856.2,777.7 1856.2,727.1 1805.7,727.1 "></g>
<g><polygon points="1805.7,828.3 1856.2,828.3 1856.2,777.7 1805.7,777.7 "></g>
<g><polygon points="1805.7,878.9 1856.2,878.9 1856.2,828.3 1805.7,828.3 "></g>
<g><polygon points="1805.7,929.5 1856.2,929.5 1856.2,878.9 1805.7,878.9 "></g>
<g><polygon points="1805.7,980.1 1856.2,980.1 1856.2,929.5 1805.7,929.5 "></g>
<g><polygon points="1805.7,1030.7 1856.2,1030.7 1856.2,980.1 1805.7,980.1 "></g>
<g><polygon points="1805.7,1081.3 1856.2,1081.3 1856.2,1030.7 1805.7,1030.7 "></g>
<g><polygon points="1805.7,1131.9 1856.2,1131.9 1856.2,1081.3 1805.7,1081.3 "></g>
<g><polygon points="1805.7,1173.8 1856.2,1177.2 1856.2,1131.9 1805.7,1131.9 "></g>
<g><polygon points="1755.1,575.3 1805.7,575.3 1805.7,558.9 1755.1,557.3 "></g>
<g><polygon points="1755.1,625.9 1805.7,625.9 1805.7,575.3 1755.1,575.3 "></g>
<g><polygon points="1755.1,676.5 1805.7,676.5 1805.7,625.9 1755.1,625.9 "></g>
<g><polygon points="1755.1,727.1 1805.7,727.1 1805.7,676.5 1755.1,676.5 "></g>
<g><polygon points="1755.1,777.7 1805.7,777.7 1805.7,727.1 1755.1,727.1 "></g>
<g><polygon points="1755.1,828.3 1805.7,828.3 1805.7,777.7 1755.1,777.7 "></g>
<g><polygon points="1755.1,878.9 1805.7,878.9 1805.7,828.3 1755.1,828.3 "></g>
<g><polygon points="1755.1,929.5 1805.7,929.5 1805.7,878.9 1755.1,878.9 "></g>
<g><polygon points="1755.1,980.1 1805.7,980.1 1805.7,929.5 1755.1,929.5 "></g>
<g><polygon points="1755.1,1030.7 1805.7,1030.7 1805.7,980.1 1755.1,980.1 "></g>
<g><polygon points="1755.1,1081.3 1805.7,1081.3 1805.7,1030.7 1755.1,1030.7 "></g>
<g><polygon points="1755.1,1131.9 1805.7,1131.9 1805.7,1081.3 1755.1,1081.3 "></g>
<g><polygon points="1755.1,1170.5 1805.7,1173.8 1805.7,1131.9 1755.1,1131.9 "></g>
<g><polygon points="1755.1,557.3 1725.2,556.4 1724.9,575.3 1755.1,575.3 "></g>
<g><polygon points="1724.9,575.3 1724.3,625.9 1755.1,625.9 1755.1,575.3 "></g>
<g><polygon points="1724.3,625.9 1723.6,676.5 1755.1,676.5 1755.1,625.9 "></g>
<g><polygon points="1723.6,676.5 1723.0,727.1 1755.1,727.1 1755.1,676.5 "></g>
<g><polygon points="1723.0,727.1 1722.3,777.7 1755.1,777.7 1755.1,727.1 "></g>
<g><polygon points="1722.3,777.7 1721.7,828.3 1755.1,828.3 1755.1,777.7 "></g>
<g><polygon points="1721.7,828.3 1721.0,878.9 1755.1,878.9 1755.1,828.3 "></g>
<g><polygon points="1704.5,929.5 1755.1,929.5 1755.1,878.9 1721.0,878.9 1720.5,914.7 1704.5,913.7 "></g>
<g><polygon points="1704.5,980.1 1755.1,980.1 1755.1,929.5 1704.5,929.5 "></g>
<g><polygon points="1704.5,1030.7 1755.1,1030.7 1755.1,980.1 1704.5,980.1 "></g>
<g><polygon points="1704.5,1081.3 1755.1,1081.3 1755.1,1030.7 1704.5,1030.7 "></g>
<g><polygon points="1704.5,1131.9 1755.1,1131.9 1755.1,1081.3 1704.5,1081.3 "></g>
<g><polygon points="1704.5,1167.2 1755.1,1170.5 1755.1,1131.9 1704.5,1131.9 "></g>
<g><polygon points="1653.9,929.5 1704.5,929.5 1704.5,913.7 1653.9,910.6 "></g>
<g><polygon points="1653.9,980.1 1704.5,980.1 1704.5,929.5 1653.9,929.5 "></g>
<g><polygon points="1653.9,1030.7 1704.5,1030.7 1704.5,980.1 1653.9,980.1 "></g>
<g><polygon points="1653.9,1081.3 1704.5,1081.3 1704.5,1030.7 1653.9,1030.7 "></g>
<g><polygon points="1653.9,1131.9 1704.5,1131.9 1704.5,1081.3 1653.9,1081.3 "></g>
<g><polygon points="1653.9,1163.9 1704.5,1167.2 1704.5,1131.9 1653.9,1131.9 "></g>
<g><polygon points="1603.3,929.5 1653.9,929.5 1653.9,910.6 1603.3,907.5 "></g>
<g><polygon points="1603.3,980.1 1653.9,980.1 1653.9,929.5 1603.3,929.5 "></g>
<g><polygon points="1603.3,1030.7 1653.9,1030.7 1653.9,980.1 1603.3,980.1 "></g>
<g><polygon points="1603.3,1081.3 1653.9,1081.3 1653.9,1030.7 1603.3,1030.7 "></g>
<g><polygon points="1603.3,1131.9 1653.9,1131.9 1653.9,1081.3 1603.3,1081.3 "></g>
<g><polygon points="1603.3,1160.5 1653.9,1163.9 1653.9,1131.9 1603.3,1131.9 "></g>
<g><polygon points="1552.7,929.5 1603.3,929.5 1603.3,907.5 1552.7,904.4 "></g>
<g><polygon points="1552.7,980.1 1603.3,980.1 1603.3,929.5 1552.7,929.5 "></g>
<g><polygon points="1552.7,1030.7 1603.3,1030.7 1603.3,980.1 1552.7,980.1 "></g>
<g><polygon points="1552.7,1081.3 1603.3,1081.3 1603.3,1030.7 1552.7,1030.7 "></g>
<g><polygon points="1552.7,1131.9 1603.3,1131.9 1603.3,1081.3 1552.7,1081.3 "></g>
<g><polygon points="1552.7,1157.2 1603.3,1160.5 1603.3,1131.9 1552.7,1131.9 "></g>
<g><polygon points="1502.1,221.2 1504.5,221.2 1502.1,187.8 "></g>
<g><polygon points="1502.1,271.8 1508.1,271.8 1504.5,221.2 1502.1,221.2 "></g>
<g><polygon points="1502.1,322.4 1511.7,322.4 1508.1,271.8 1502.1,271.8 "></g>
<g><polygon points="1502.1,341.2 1513.0,340.5 1511.7,322.4 1502.1,322.4 "></g>
<g><polygon points="1502.1,929.5 1552.7,929.5 1552.7,904.4 1502.1,901.3 "></g>
<g><polygon points="1502.1,980.1 1552.7,980.1 1552.7,929.5 1502.1,929.5 "></g>
<g><polygon points="1502.1,1030.7 1552.7,1030.7 1552.7,980.1 1502.1,980.1 "></g>
<g><polygon points="1502.1,1081.3 1552.7,1081.3 1552.7,1030.7 1502.1,1030.7 "></g>
<g><polygon points="1502.1,1131.9 1552.7,1131.9 1552.7,1081.3 1502.1,1081.3 "></g>
<g><polygon points="1502.1,1153.9 1552.7,1157.2 1552.7,1131.9 1502.1,1131.9 "></g>
<g><polygon points="1451.5,120.0 1497.3,120.0 1495.0,88.0 1451.5,90.9 "></g>
<g><polygon points="1451.5,170.6 1500.9,170.6 1497.3,120.0 1451.5,120.0 "></g>
<g><polygon points="1451.5,221.2 1502.1,221.2 1502.1,187.8 1500.9,170.6 1451.5,170.6 "></g>
<g><polygon points="1451.5,271.8 1502.1,271.8 1502.1,221.2 1451.5,221.2 "></g>
<g><polygon points="1451.5,322.4 1502.1,322.4 1502.1,271.8 1451.5,271.8 "></g>
<g><polygon points="1451.5,344.5 1502.1,341.2 1502.1,322.4 1451.5,322.4 "></g>
<g><polygon points="1451.5,929.5 1502.1,929.5 1502.1,901.3 1451.5,898.2 "></g>
<g><polygon points="1451.5,980.1 1502.1,980.1 1502.1,929.5 1451.5,929.5 "></g>
<g><polygon points="1451.5,1030.7 1502.1,1030.7 1502.1,980.1 1451.5,980.1 "></g>
<g><polygon points="1451.5,1081.3 1502.1,1081.3 1502.1,1030.7 1451.5,1030.7 "></g>
<g><polygon points="1451.5,1131.9 1502.1,1131.9 1502.1,1081.3 1451.5,1081.3 "></g>
<g><polygon points="1451.5,1150.5 1502.1,1153.9 1502.1,1131.9 1451.5,1131.9 "></g>
<g><polygon points="1400.9,120.0 1451.5,120.0 1451.5,90.9 1400.9,94.2 "></g>
<g><polygon points="1400.9,170.6 1451.5,170.6 1451.5,120.0 1400.9,120.0 "></g>
<g><polygon points="1400.9,221.2 1451.5,221.2 1451.5,170.6 1400.9,170.6 "></g>
<g><polygon points="1400.9,271.8 1451.5,271.8 1451.5,221.2 1400.9,221.2 "></g>
<g><polygon points="1400.9,322.4 1451.5,322.4 1451.5,271.8 1400.9,271.8 "></g>
<g><polygon points="1400.9,347.8 1451.5,344.5 1451.5,322.4 1400.9,322.4 "></g>
<g><polygon points="1400.9,929.5 1451.5,929.5 1451.5,898.2 1400.9,895.1 "></g>
<g><polygon points="1400.9,980.1 1451.5,980.1 1451.5,929.5 1400.9,929.5 "></g>
<g><polygon points="1400.9,1030.7 1451.5,1030.7 1451.5,980.1 1400.9,980.1 "></g>
<g><polygon points="1400.9,1081.3 1451.5,1081.3 1451.5,1030.7 1400.9,1030.7 "></g>
<g><polygon points="1400.9,1131.9 1451.5,1131.9 1451.5,1081.3 1400.9,1081.3 "></g>
<g><polygon points="1400.9,1147.2 1451.5,1150.5 1451.5,1131.9 1400.9,1131.9 "></g>
<g><polygon points="1350.3,120.0 1400.9,120.0 1400.9,94.2 1350.3,97.5 "></g>
<g><polygon points="1350.3,170.6 1400.9,170.6 1400.9,120.0 1350.3,120.0 "></g>
<g><polygon points="1350.3,221.2 1400.9,221.2 1400.9,170.6 1350.3,170.6 "></g>
<g><polygon points="1350.3,271.8 1400.9,271.8 1400.9,221.2 1350.3,221.2 "></g>
<g><polygon points="1350.3,322.4 1400.9,322.4 1400.9,271.8 1350.3,271.8 "></g>
<g><polygon points="1350.3,351.1 1400.9,347.8 1400.9,322.4 1350.3,322.4 "></g>
<g><polygon points="1350.3,929.5 1400.9,929.5 1400.9,895.1 1350.3,892.0 "></g>
<g><polygon points="1350.3,980.1 1400.9,980.1 1400.9,929.5 1350.3,929.5 "></g>
<g><polygon points="1350.3,1030.7 1400.9,1030.7 1400.9,980.1 1350.3,980.1 "></g>
<g><polygon points="1350.3,1081.3 1400.9,1081.3 1400.9,1030.7 1350.3,1030.7 "></g>
<g><polygon points="1350.3,1131.9 1400.9,1131.9 1400.9,1081.3 1350.3,1081.3 "></g>
<g><polygon points="1350.3,1143.9 1400.9,1147.2 1400.9,1131.9 1350.3,1131.9 "></g>
<g><polygon points="1299.7,120.0 1350.3,120.0 1350.3,97.5 1299.7,100.8 "></g>
<g><polygon points="1299.7,170.6 1350.3,170.6 1350.3,120.0 1299.7,120.0 "></g>
<g><polygon points="1299.7,221.2 1350.3,221.2 1350.3,170.6 1299.7,170.6 "></g>
<g><polygon points="1299.7,271.8 1350.3,271.8 1350.3,221.2 1299.7,221.2 "></g>
<g><polygon points="1299.7,322.4 1350.3,322.4 1350.3,271.8 1299.7,271.8 "></g>
<g><polygon points="1299.7,354.4 1350.3,351.1 1350.3,322.4 1299.7,322.4 "></g>
<g><polygon points="1299.7,929.5 1350.3,929.5 1350.3,892.0 1299.7,888.9 "></g>
<g><polygon points="1299.7,980.1 1350.3,980.1 1350.3,929.5 1299.7,929.5 "></g>
<g><polygon points="1299.7,1030.7 1350.3,1030.7 1350.3,980.1 1299.7,980.1 "></g>
<g><polygon points="1299.7,1081.3 1350.3,1081.3 1350.3,1030.7 1299.7,1030.7 "></g>
<g><polygon points="1299.7,1131.9 1350.3,1131.9 1350.3,1081.3 1299.7,1081.3 "></g>
<g><polygon points="1299.7,1140.6 1350.3,1143.9 1350.3,1131.9 1299.7,1131.9 "></g>
<g><polygon points="1249.1,120.0 1299.7,120.0 1299.7,100.8 1249.1,104.2 "></g>
<g><polygon points="1249.1,170.6 1299.7,170.6 1299.7,120.0 1249.1,120.0 "></g>
<g><polygon points="1249.1,221.2 1299.7,221.2 1299.7,170.6 1249.1,170.6 "></g>
<g><polygon points="1249.1,271.8 1299.7,271.8 1299.7,221.2 1249.1,221.2 "></g>
<g><polygon points="1249.1,322.4 1299.7,322.4 1299.7,271.8 1249.1,271.8 "></g>
<g><polygon points="1249.1,357.7 1299.7,354.4 1299.7,322.4 1249.1,322.4 "></g>
<g><polygon points="1249.1,929.5 1299.7,929.5 1299.7,888.9 1249.1,885.8 "></g>
<g><polygon points="1249.1,980.1 1299.7,980.1 1299.7,929.5 1249.1,929.5 "></g>
<g><polygon points="1249.1,1030.7 1299.7,1030.7 1299.7,980.1 1249.1,980.1 "></g>
<g><polygon points="1249.1,1081.3 1299.7,1081.3 1299.7,1030.7 1249.1,1030.7 "></g>
<g><polygon points="1249.1,1131.9 1299.7,1131.9 1299.7,1081.3 1249.1,1081.3 "></g>
<g><polygon points="1249.1,1137.2 1299.7,1140.6 1299.7,1131.9 1249.1,1131.9 "></g>
<g><polygon points="1198.5,120.0 1249.1,120.0 1249.1,104.2 1198.5,107.5 "></g>
<g><polygon points="1198.5,170.6 1249.1,170.6 1249.1,120.0 1198.5,120.0 "></g>
<g><polygon points="1198.5,221.2 1249.1,221.2 1249.1,170.6 1198.5,170.6 "></g>
<g><polygon points="1198.5,271.8 1249.1,271.8 1249.1,221.2 1198.5,221.2 "></g>
<g><polygon points="1198.5,322.4 1249.1,322.4 1249.1,271.8 1198.5,271.8 "></g>
<g><polygon points="1198.5,361.0 1249.1,357.7 1249.1,322.4 1198.5,322.4 "></g>
<g><polygon points="1198.5,929.5 1249.1,929.5 1249.1,885.8 1198.5,882.7 "></g>
<g><polygon points="1198.5,980.1 1249.1,980.1 1249.1,929.5 1198.5,929.5 "></g>
<g><polygon points="1198.5,1030.7 1249.1,1030.7 1249.1,980.1 1198.5,980.1 "></g>
<g><polygon points="1198.5,1081.3 1249.1,1081.3 1249.1,1030.7 1198.5,1030.7 "></g>
<g><polygon points="1198.5,1131.9 1249.1,1131.9 1249.1,1081.3 1198.5,1081.3 "></g>
<g><polygon points="1198.5,1133.9 1249.1,1137.2 1249.1,1131.9 1198.5,1131.9 "></g>
<g><polygon points="1147.9,120.0 1198.5,120.0 1198.5,107.5 1147.9,110.8 "></g>
<g><polygon points="1147.9,170.6 1198.5,170.6 1198.5,120.0 1147.9,120.0 "></g>
<g><polygon points="1147.9,221.2 1198.5,221.2 1198.5,170.6 1147.9,170.6 "></g>
<g><polygon points="1147.9,271.8 1198.5,271.8 1198.5,221.2 1147.9,221.2 "></g>
<g><polygon points="1147.9,322.4 1198.5,322.4 1198.5,271.8 1147.9,271.8 "></g>
<g><polygon points="1147.9,364.3 1198.5,361.0 1198.5,322.4 1147.9,322.4 "></g>
<g><polygon points="1147.9,929.5 1198.5,929.5 1198.5,882.7 1147.9,879.6 "></g>
<g><polygon points="1147.9,980.1 1198.5,980.1 1198.5,929.5 1147.9,929.5 "></g>
<g><polygon points="1147.9,1030.7 1198.5,1030.7 1198.5,980.1 1147.9,980.1 "></g>
<g><polygon points="1147.9,1081.3 1198.5,1081.3 1198.5,1030.7 1147.9,1030.7 "></g>
<g><polygon points="1147.9,1130.6 1167.8,1131.9 1198.5,1131.9 1198.5,1081.3 1147.9,1081.3 "></g>
<g><polygon points="1167.8,1131.9 1198.5,1133.9 1198.5,1131.9 "></g>
<g><polygon points="1097.3,120.0 1147.9,120.0 1147.9,110.8 1097.3,114.2 "></g>
<g><polygon points="1097.3,170.6 1147.9,170.6 1147.9,120.0 1097.3,120.0 "></g>
<g><polygon points="1097.3,221.2 1147.9,221.2 1147.9,170.6 1097.3,170.6 "></g>
<g><polygon points="1097.3,271.8 1147.9,271.8 1147.9,221.2 1097.3,221.2 "></g>
<g><polygon points="1097.3,322.4 1147.9,322.4 1147.9,271.8 1097.3,271.8 "></g>
<g><polygon points="1097.3,367.6 1147.9,364.3 1147.9,322.4 1097.3,322.4 "></g>
<g><polygon points="1097.3,878.9 1136.1,878.9 1097.3,876.5 "></g>
<g><polygon points="1097.3,929.5 1147.9,929.5 1147.9,879.6 1136.1,878.9 1097.3,878.9 "></g>
<g><polygon points="1097.3,980.1 1147.9,980.1 1147.9,929.5 1097.3,929.5 "></g>
<g><polygon points="1097.3,1030.7 1147.9,1030.7 1147.9,980.1 1097.3,980.1 "></g>
<g><polygon points="1097.3,1081.3 1147.9,1081.3 1147.9,1030.7 1097.3,1030.7 "></g>
<g><polygon points="1097.3,1127.2 1147.9,1130.6 1147.9,1081.3 1097.3,1081.3 "></g>
<g><polygon points="1046.7,120.0 1097.3,120.0 1097.3,114.2 1046.7,117.5 "></g>
<g><polygon points="1046.7,170.6 1097.3,170.6 1097.3,120.0 1046.7,120.0 "></g>
<g><polygon points="1046.7,221.2 1097.3,221.2 1097.3,170.6 1046.7,170.6 "></g>
<g><polygon points="1046.7,271.8 1097.3,271.8 1097.3,221.2 1046.7,221.2 "></g>
<g><polygon points="1046.7,322.4 1097.3,322.4 1097.3,271.8 1046.7,271.8 "></g>
<g><polygon points="1046.7,370.8 1097.3,367.6 1097.3,322.4 1046.7,322.4 "></g>
<g><polygon points="1046.7,878.9 1097.3,878.9 1097.3,876.5 1046.7,873.4 "></g>
<g><polygon points="1046.7,929.5 1097.3,929.5 1097.3,878.9 1046.7,878.9 "></g>
<g><polygon points="1046.7,980.1 1097.3,980.1 1097.3,929.5 1046.7,929.5 "></g>
<g><polygon points="1046.7,1030.7 1097.3,1030.7 1097.3,980.1 1046.7,980.1 "></g>
<g><polygon points="1046.7,1081.3 1097.3,1081.3 1097.3,1030.7 1046.7,1030.7 "></g>
<g><polygon points="1046.7,1123.9 1097.3,1127.2 1097.3,1081.3 1046.7,1081.3 "></g>
<g><polygon points="1046.7,117.5 1008.6,120.0 1046.7,120.0 "></g>
<g><polygon points="996.2,170.6 1046.7,170.6 1046.7,120.0 1008.6,120.0 996.2,120.8 "></g>
<g><polygon points="996.2,221.2 1046.7,221.2 1046.7,170.6 996.2,170.6 "></g>
<g><polygon points="996.2,271.8 1046.7,271.8 1046.7,221.2 996.2,221.2 "></g>
<g><polygon points="996.2,322.4 1046.7,322.4 1046.7,271.8 996.2,271.8 "></g>
<g><polygon points="996.2,373.0 1014.2,373.0 1046.7,370.8 1046.7,322.4 996.2,322.4 "></g>
<g><polygon points="996.2,374.1 1014.2,373.0 996.2,373.0 "></g>
<g><polygon points="996.2,878.9 1046.7,878.9 1046.7,873.4 996.2,870.3 "></g>
<g><polygon points="996.2,929.5 1046.7,929.5 1046.7,878.9 996.2,878.9 "></g>
<g><polygon points="996.2,980.1 1046.7,980.1 1046.7,929.5 996.2,929.5 "></g>
<g><polygon points="996.2,1030.7 1046.7,1030.7 1046.7,980.1 996.2,980.1 "></g>
<g><polygon points="996.2,1081.3 1046.7,1081.3 1046.7,1030.7 996.2,1030.7 "></g>
<g><polygon points="996.2,1120.6 1046.7,1123.9 1046.7,1081.3 996.2,1081.3 "></g>
<g><polygon points="945.6,170.6 996.2,170.6 996.2,120.8 945.6,124.1 "></g>
<g><polygon points="945.6,221.2 996.2,221.2 996.2,170.6 945.6,170.6 "></g>
<g><polygon points="945.6,271.8 996.2,271.8 996.2,221.2 945.6,221.2 "></g>
<g><polygon points="945.6,322.4 996.2,322.4 996.2,271.8 945.6,271.8 "></g>
<g><polygon points="945.6,373.0 996.2,373.0 996.2,322.4 945.6,322.4 "></g>
<g><polygon points="945.6,377.4 996.2,374.1 996.2,373.0 945.6,373.0 "></g>
<g><polygon points="945.6,878.9 996.2,878.9 996.2,870.3 945.6,867.2 "></g>
<g><polygon points="945.6,929.5 996.2,929.5 996.2,878.9 945.6,878.9 "></g>
<g><polygon points="945.6,980.1 996.2,980.1 996.2,929.5 945.6,929.5 "></g>
<g><polygon points="945.6,1030.7 996.2,1030.7 996.2,980.1 945.6,980.1 "></g>
<g><polygon points="945.6,1081.3 996.2,1081.3 996.2,1030.7 945.6,1030.7 "></g>
<g><polygon points="945.6,1117.3 996.2,1120.6 996.2,1081.3 945.6,1081.3 "></g>
<g><polygon points="895.0,170.6 945.6,170.6 945.6,124.1 895.0,127.5 "></g>
<g><polygon points="895.0,221.2 945.6,221.2 945.6,170.6 895.0,170.6 "></g>
<g><polygon points="895.0,271.8 945.6,271.8 945.6,221.2 895.0,221.2 "></g>
<g><polygon points="895.0,322.4 945.6,322.4 945.6,271.8 895.0,271.8 "></g>
<g><polygon points="895.0,373.0 945.6,373.0 945.6,322.4 895.0,322.4 "></g>
<g><polygon points="895.0,380.7 945.6,377.4 945.6,373.0 895.0,373.0 "></g>
<g><polygon points="895.0,878.9 945.6,878.9 945.6,867.2 895.0,864.1 "></g>
<g><polygon points="895.0,929.5 945.6,929.5 945.6,878.9 895.0,878.9 "></g>
<g><polygon points="895.0,980.1 945.6,980.1 945.6,929.5 895.0,929.5 "></g>
<g><polygon points="895.0,1030.7 945.6,1030.7 945.6,980.1 895.0,980.1 "></g>
<g><polygon points="895.0,1081.3 945.6,1081.3 945.6,1030.7 895.0,1030.7 "></g>
<g><polygon points="895.0,1113.9 945.6,1117.3 945.6,1081.3 895.0,1081.3 "></g>
<g><polygon points="844.4,170.6 895.0,170.6 895.0,127.5 844.4,130.8 "></g>
<g><polygon points="844.4,221.2 895.0,221.2 895.0,170.6 844.4,170.6 "></g>
<g><polygon points="844.4,271.8 895.0,271.8 895.0,221.2 844.4,221.2 "></g>
<g><polygon points="844.4,322.4 895.0,322.4 895.0,271.8 844.4,271.8 "></g>
<g><polygon points="844.4,373.0 895.0,373.0 895.0,322.4 844.4,322.4 "></g>
<g><polygon points="844.4,384.0 895.0,380.7 895.0,373.0 844.4,373.0 "></g>
<g><polygon points="844.4,878.9 895.0,878.9 895.0,864.1 844.4,861.0 "></g>
<g><polygon points="844.4,929.5 895.0,929.5 895.0,878.9 844.4,878.9 "></g>
<g><polygon points="844.4,980.1 895.0,980.1 895.0,929.5 844.4,929.5 "></g>
<g><polygon points="844.4,1030.7 895.0,1030.7 895.0,980.1 844.4,980.1 "></g>
<g><polygon points="844.4,1081.3 895.0,1081.3 895.0,1030.7 844.4,1030.7 "></g>
<g><polygon points="844.4,1110.6 895.0,1113.9 895.0,1081.3 844.4,1081.3 "></g>
<g><polygon points="793.8,170.6 844.4,170.6 844.4,130.8 793.8,134.1 "></g>
<g><polygon points="793.8,221.2 844.4,221.2 844.4,170.6 793.8,170.6 "></g>
<g><polygon points="793.8,271.8 844.4,271.8 844.4,221.2 793.8,221.2 "></g>
<g><polygon points="793.8,322.4 844.4,322.4 844.4,271.8 793.8,271.8 "></g>
<g><polygon points="793.8,373.0 844.4,373.0 844.4,322.4 793.8,322.4 "></g>
<g><polygon points="793.8,387.3 844.4,384.0 844.4,373.0 793.8,373.0 "></g>
<g><polygon points="793.8,878.9 844.4,878.9 844.4,861.0 793.8,857.9 "></g>
<g><polygon points="793.8,929.5 844.4,929.5 844.4,878.9 793.8,878.9 "></g>
<g><polygon points="793.8,980.1 844.4,980.1 844.4,929.5 793.8,929.5 "></g>
<g><polygon points="793.8,1030.7 844.4,1030.7 844.4,980.1 793.8,980.1 "></g>
<g><polygon points="793.8,1081.3 844.4,1081.3 844.4,1030.7 793.8,1030.7 "></g>
<g><polygon points="793.8,1107.3 844.4,1110.6 844.4,1081.3 793.8,1081.3 "></g>
<g><polygon points="743.2,170.6 793.8,170.6 793.8,134.1 743.2,137.5 "></g>
<g><polygon points="743.2,221.2 793.8,221.2 793.8,170.6 743.2,170.6 "></g>
<g><polygon points="743.2,271.8 793.8,271.8 793.8,221.2 743.2,221.2 "></g>
<g><polygon points="743.2,322.4 793.8,322.4 793.8,271.8 743.2,271.8 "></g>
<g><polygon points="743.2,373.0 793.8,373.0 793.8,322.4 743.2,322.4 "></g>
<g><polygon points="743.2,390.6 793.8,387.3 793.8,373.0 743.2,373.0 "></g>
<g><polygon points="743.2,878.9 793.8,878.9 793.8,857.9 743.2,854.8 "></g>
<g><polygon points="743.2,929.5 793.8,929.5 793.8,878.9 743.2,878.9 "></g>
<g><polygon points="743.2,980.1 793.8,980.1 793.8,929.5 743.2,929.5 "></g>
<g><polygon points="743.2,1030.7 793.8,1030.7 793.8,980.1 743.2,980.1 "></g>
<g><polygon points="743.2,1081.3 793.8,1081.3 793.8,1030.7 743.2,1030.7 "></g>
<g><polygon points="743.2,1103.9 793.8,1107.3 793.8,1081.3 743.2,1081.3 "></g>
<g><polygon points="692.6,170.6 743.2,170.6 743.2,137.5 692.6,140.8 "></g>
<g><polygon points="692.6,221.2 743.2,221.2 743.2,170.6 692.6,170.6 "></g>
<g><polygon points="692.6,271.8 743.2,271.8 743.2,221.2 692.6,221.2 "></g>
<g><polygon points="692.6,322.4 743.2,322.4 743.2,271.8 692.6,271.8 "></g>
<g><polygon points="692.6,373.0 743.2,373.0 743.2,322.4 692.6,322.4 "></g>
<g><polygon points="692.6,393.9 743.2,390.6 743.2,373.0 692.6,373.0 "></g>
<g><polygon points="692.6,878.9 743.2,878.9 743.2,854.8 692.6,851.7 "></g>
<g><polygon points="692.6,929.5 743.2,929.5 743.2,878.9 692.6,878.9 "></g>
<g><polygon points="692.6,980.1 743.2,980.1 743.2,929.5 692.6,929.5 "></g>
<g><polygon points="692.6,1030.7 743.2,1030.7 743.2,980.1 692.6,980.1 "></g>
<g><polygon points="692.6,1081.3 743.2,1081.3 743.2,1030.7 692.6,1030.7 "></g>
<g><polygon points="692.6,1100.6 743.2,1103.9 743.2,1081.3 692.6,1081.3 "></g>
<g><polygon points="642.0,170.6 692.6,170.6 692.6,140.8 642.0,144.1 "></g>
<g><polygon points="642.0,221.2 692.6,221.2 692.6,170.6 642.0,170.6 "></g>
<g><polygon points="642.0,271.8 692.6,271.8 692.6,221.2 642.0,221.2 "></g>
<g><polygon points="642.0,322.4 692.6,322.4 692.6,271.8 642.0,271.8 "></g>
<g><polygon points="642.0,373.0 692.6,373.0 692.6,322.4 642.0,322.4 "></g>
<g><polygon points="642.0,423.6 690.2,423.6 690.4,394.0 692.6,393.9 692.6,373.0 642.0,373.0 "></g>
<g><polygon points="642.0,474.2 689.8,474.2 690.2,423.6 642.0,423.6 "></g>
<g><polygon points="642.0,524.7 689.3,524.7 689.8,474.2 642.0,474.2 "></g>
<g><polygon points="642.0,575.3 688.9,575.3 689.3,524.7 642.0,524.7 "></g>
<g><polygon points="642.0,625.9 688.5,625.9 688.9,575.3 642.0,575.3 "></g>
<g><polygon points="642.0,676.5 688.0,676.5 688.5,625.9 642.0,625.9 "></g>
<g><polygon points="642.0,727.1 687.6,727.1 688.0,676.5 642.0,676.5 "></g>
<g><polygon points="642.0,777.7 687.2,777.7 687.6,727.1 642.0,727.1 "></g>
<g><polygon points="642.0,828.3 686.8,828.3 687.2,777.7 642.0,777.7 "></g>
<g><polygon points="642.0,878.9 692.6,878.9 692.6,851.7 686.6,851.3 686.8,828.3 642.0,828.3 "></g>
<g><polygon points="642.0,929.5 692.6,929.5 692.6,878.9 642.0,878.9 "></g>
<g><polygon points="642.0,980.1 692.6,980.1 692.6,929.5 642.0,929.5 "></g>
<g><polygon points="642.0,1030.7 692.6,1030.7 692.6,980.1 642.0,980.1 "></g>
<g><polygon points="642.0,1081.3 692.6,1081.3 692.6,1030.7 642.0,1030.7 "></g>
<g><polygon points="642.0,1097.3 692.6,1100.6 692.6,1081.3 642.0,1081.3 "></g>
<g><polygon points="591.4,170.6 642.0,170.6 642.0,144.1 591.4,147.4 "></g>
<g><polygon points="591.4,221.2 642.0,221.2 642.0,170.6 591.4,170.6 "></g>
<g><polygon points="591.4,271.8 642.0,271.8 642.0,221.2 591.4,221.2 "></g>
<g><polygon points="591.4,322.4 642.0,322.4 642.0,271.8 591.4,271.8 "></g>
<g><polygon points="591.4,373.0 642.0,373.0 642.0,322.4 591.4,322.4 "></g>
<g><polygon points="591.4,423.6 642.0,423.6 642.0,373.0 591.4,373.0 "></g>
<g><polygon points="591.4,474.2 642.0,474.2 642.0,423.6 591.4,423.6 "></g>
<g><polygon points="591.4,524.7 642.0,524.7 642.0,474.2 591.4,474.2 "></g>
<g><polygon points="591.4,575.3 642.0,575.3 642.0,524.7 591.4,524.7 "></g>
<g><polygon points="591.4,625.9 642.0,625.9 642.0,575.3 591.4,575.3 "></g>
<g><polygon points="591.4,676.5 642.0,676.5 642.0,625.9 591.4,625.9 "></g>
<g><polygon points="591.4,727.1 642.0,727.1 642.0,676.5 591.4,676.5 "></g>
<g><polygon points="591.4,777.7 642.0,777.7 642.0,727.1 591.4,727.1 "></g>
<g><polygon points="591.4,828.3 642.0,828.3 642.0,777.7 591.4,777.7 "></g>
<g><polygon points="591.4,878.9 642.0,878.9 642.0,828.3 591.4,828.3 "></g>
<g><polygon points="591.4,929.5 642.0,929.5 642.0,878.9 591.4,878.9 "></g>
<g><polygon points="591.4,980.1 642.0,980.1 642.0,929.5 591.4,929.5 "></g>
<g><polygon points="591.4,1030.7 642.0,1030.7 642.0,980.1 591.4,980.1 "></g>
<g><polygon points="591.4,1081.3 642.0,1081.3 642.0,1030.7 591.4,1030.7 "></g>
<g><polygon points="591.4,1094.0 642.0,1097.3 642.0,1081.3 591.4,1081.3 "></g>
<g><polygon points="540.8,170.6 591.4,170.6 591.4,147.4 540.8,150.8 "></g>
<g><polygon points="540.8,221.2 591.4,221.2 591.4,170.6 540.8,170.6 "></g>
<g><polygon points="540.8,271.8 591.4,271.8 591.4,221.2 540.8,221.2 "></g>
<g><polygon points="540.8,322.4 591.4,322.4 591.4,271.8 540.8,271.8 "></g>
<g><polygon points="540.8,373.0 591.4,373.0 591.4,322.4 540.8,322.4 "></g>
<g><polygon points="540.8,423.6 591.4,423.6 591.4,373.0 540.8,373.0 "></g>
<g><polygon points="540.8,474.2 591.4,474.2 591.4,423.6 540.8,423.6 "></g>
<g><polygon points="540.8,524.7 591.4,524.7 591.4,474.2 540.8,474.2 "></g>
<g><polygon points="540.8,575.3 591.4,575.3 591.4,524.7 540.8,524.7 "></g>
<g><polygon points="540.8,625.9 591.4,625.9 591.4,575.3 540.8,575.3 "></g>
<g><polygon points="540.8,676.5 591.4,676.5 591.4,625.9 540.8,625.9 "></g>
<g><polygon points="540.8,727.1 591.4,727.1 591.4,676.5 540.8,676.5 "></g>
<g><polygon points="540.8,777.7 591.4,777.7 591.4,727.1 540.8,727.1 "></g>
<g><polygon points="540.8,828.3 591.4,828.3 591.4,777.7 540.8,777.7 "></g>
<g><polygon points="540.8,878.9 591.4,878.9 591.4,828.3 540.8,828.3 "></g>
<g><polygon points="540.8,929.5 591.4,929.5 591.4,878.9 540.8,878.9 "></g>
<g><polygon points="540.8,980.1 591.4,980.1 591.4,929.5 540.8,929.5 "></g>
<g><polygon points="540.8,1030.7 591.4,1030.7 591.4,980.1 540.8,980.1 "></g>
<g><polygon points="540.8,1081.3 591.4,1081.3 591.4,1030.7 540.8,1030.7 "></g>
<g><polygon points="540.8,1090.6 591.4,1094.0 591.4,1081.3 540.8,1081.3 "></g>
<g><polygon points="490.2,170.6 540.8,170.6 540.8,150.8 490.2,154.1 "></g>
<g><polygon points="490.2,221.2 540.8,221.2 540.8,170.6 490.2,170.6 "></g>
<g><polygon points="490.2,271.8 540.8,271.8 540.8,221.2 490.2,221.2 "></g>
<g><polygon points="490.2,322.4 540.8,322.4 540.8,271.8 490.2,271.8 "></g>
<g><polygon points="490.2,373.0 540.8,373.0 540.8,322.4 490.2,322.4 "></g>
<g><polygon points="490.2,423.6 540.8,423.6 540.8,373.0 490.2,373.0 "></g>
<g><polygon points="490.2,474.2 540.8,474.2 540.8,423.6 490.2,423.6 "></g>
<g><polygon points="490.2,524.7 540.8,524.7 540.8,474.2 490.2,474.2 "></g>
<g><polygon points="490.2,575.3 540.8,575.3 540.8,524.7 490.2,524.7 "></g>
<g><polygon points="490.2,625.9 540.8,625.9 540.8,575.3 490.2,575.3 "></g>
<g><polygon points="490.2,676.5 540.8,676.5 540.8,625.9 490.2,625.9 "></g>
<g><polygon points="490.2,727.1 540.8,727.1 540.8,676.5 490.2,676.5 "></g>
<g><polygon points="490.2,777.7 540.8,777.7 540.8,727.1 490.2,727.1 "></g>
<g><polygon points="490.2,828.3 540.8,828.3 540.8,777.7 490.2,777.7 "></g>
<g><polygon points="490.2,878.9 540.8,878.9 540.8,828.3 490.2,828.3 "></g>
<g><polygon points="490.2,929.5 540.8,929.5 540.8,878.9 490.2,878.9 "></g>
<g><polygon points="490.2,980.1 540.8,980.1 540.8,929.5 490.2,929.5 "></g>
<g><polygon points="490.2,1030.7 540.8,1030.7 540.8,980.1 490.2,980.1 "></g>
<g><polygon points="490.2,1081.3 540.8,1081.3 540.8,1030.7 490.2,1030.7 "></g>
<g><polygon points="490.2,1087.3 540.8,1090.6 540.8,1081.3 490.2,1081.3 "></g>
<g><polygon points="439.6,170.6 490.2,170.6 490.2,154.1 439.6,157.4 "></g>
<g><polygon points="439.6,221.2 490.2,221.2 490.2,170.6 439.6,170.6 "></g>
<g><polygon points="439.6,271.8 490.2,271.8 490.2,221.2 439.6,221.2 "></g>
<g><polygon points="439.6,322.4 490.2,322.4 490.2,271.8 439.6,271.8 "></g>
<g><polygon points="439.6,373.0 490.2,373.0 490.2,322.4 439.6,322.4 "></g>
<g><polygon points="439.6,423.6 490.2,423.6 490.2,373.0 439.6,373.0 "></g>
<g><polygon points="439.6,474.2 490.2,474.2 490.2,423.6 439.6,423.6 "></g>
<g><polygon points="439.6,524.7 490.2,524.7 490.2,474.2 439.6,474.2 "></g>
<g><polygon points="439.6,575.3 490.2,575.3 490.2,524.7 439.6,524.7 "></g>
<g><polygon points="439.6,625.9 490.2,625.9 490.2,575.3 439.6,575.3 "></g>
<g><polygon points="439.6,676.5 490.2,676.5 490.2,625.9 439.6,625.9 "></g>
<g><polygon points="439.6,727.1 490.2,727.1 490.2,676.5 439.6,676.5 "></g>
<g><polygon points="439.6,777.7 490.2,777.7 490.2,727.1 439.6,727.1 "></g>
<g><polygon points="439.6,828.3 490.2,828.3 490.2,777.7 439.6,777.7 "></g>
<g><polygon points="439.6,878.9 490.2,878.9 490.2,828.3 439.6,828.3 "></g>
<g><polygon points="439.6,929.5 490.2,929.5 490.2,878.9 439.6,878.9 "></g>
<g><polygon points="439.6,980.1 490.2,980.1 490.2,929.5 439.6,929.5 "></g>
<g><polygon points="439.6,1030.7 490.2,1030.7 490.2,980.1 439.6,980.1 "></g>
<g><polygon points="439.6,1081.3 490.2,1081.3 490.2,1030.7 439.6,1030.7 "></g>
<g><polygon points="439.6,1084.0 490.2,1087.3 490.2,1081.3 439.6,1081.3 "></g>
<g><polygon points="389.0,170.6 439.6,170.6 439.6,157.4 389.0,160.8 "></g>
<g><polygon points="389.0,221.2 439.6,221.2 439.6,170.6 389.0,170.6 "></g>
<g><polygon points="389.0,271.8 439.6,271.8 439.6,221.2 389.0,221.2 "></g>
<g><polygon points="389.0,322.4 439.6,322.4 439.6,271.8 389.0,271.8 "></g>
<g><polygon points="389.0,373.0 439.6,373.0 439.6,322.4 389.0,322.4 "></g>
<g><polygon points="389.0,423.6 439.6,423.6 439.6,373.0 389.0,373.0 "></g>
<g><polygon points="389.0,474.2 439.6,474.2 439.6,423.6 389.0,423.6 "></g>
<g><polygon points="389.0,524.7 439.6,524.7 439.6,474.2 389.0,474.2 "></g>
<g><polygon points="389.0,575.3 439.6,575.3 439.6,524.7 389.0,524.7 "></g>
<g><polygon points="389.0,625.9 439.6,625.9 439.6,575.3 389.0,575.3 "></g>
<g><polygon points="389.0,676.5 439.6,676.5 439.6,625.9 389.0,625.9 "></g>
<g><polygon points="389.0,727.1 439.6,727.1 439.6,676.5 389.0,676.5 "></g>
<g><polygon points="389.0,777.7 439.6,777.7 439.6,727.1 389.0,727.1 "></g>
<g><polygon points="389.0,828.3 439.6,828.3 439.6,777.7 389.0,777.7 "></g>
<g><polygon points="389.0,878.9 439.6,878.9 439.6,828.3 389.0,828.3 "></g>
<g><polygon points="389.0,929.5 439.6,929.5 439.6,878.9 389.0,878.9 "></g>
<g><polygon points="389.0,980.1 439.6,980.1 439.6,929.5 389.0,929.5 "></g>
<g><polygon points="389.0,1030.7 439.6,1030.7 439.6,980.1 389.0,980.1 "></g>
<g><polygon points="389.0,1080.6 398.7,1081.3 439.6,1081.3 439.6,1030.7 389.0,1030.7 "></g>
<g><polygon points="398.7,1081.3 439.6,1084.0 439.6,1081.3 "></g>
<g><polygon points="338.4,170.6 389.0,170.6 389.0,160.8 338.4,164.1 "></g>
<g><polygon points="338.4,221.2 389.0,221.2 389.0,170.6 338.4,170.6 "></g>
<g><polygon points="338.4,271.8 389.0,271.8 389.0,221.2 338.4,221.2 "></g>
<g><polygon points="338.4,322.4 389.0,322.4 389.0,271.8 338.4,271.8 "></g>
<g><polygon points="338.4,373.0 389.0,373.0 389.0,322.4 338.4,322.4 "></g>
<g><polygon points="338.4,423.6 389.0,423.6 389.0,373.0 338.4,373.0 "></g>
<g><polygon points="338.4,474.2 389.0,474.2 389.0,423.6 338.4,423.6 "></g>
<g><polygon points="338.4,524.7 389.0,524.7 389.0,474.2 338.4,474.2 "></g>
<g><polygon points="338.4,575.3 389.0,575.3 389.0,524.7 338.4,524.7 "></g>
<g><polygon points="338.4,625.9 389.0,625.9 389.0,575.3 338.4,575.3 "></g>
<g><polygon points="338.4,676.5 389.0,676.5 389.0,625.9 338.4,625.9 "></g>
<g><polygon points="338.4,727.1 389.0,727.1 389.0,676.5 338.4,676.5 "></g>
<g><polygon points="338.4,777.7 389.0,777.7 389.0,727.1 338.4,727.1 "></g>
<g><polygon points="338.4,828.3 389.0,828.3 389.0,777.7 338.4,777.7 "></g>
<g><polygon points="338.4,878.9 389.0,878.9 389.0,828.3 338.4,828.3 "></g>
<g><polygon points="338.4,929.5 389.0,929.5 389.0,878.9 338.4,878.9 "></g>
<g><polygon points="338.4,980.1 389.0,980.1 389.0,929.5 338.4,929.5 "></g>
<g><polygon points="338.4,1030.7 389.0,1030.7 389.0,980.1 338.4,980.1 "></g>
<g><polygon points="338.4,1077.3 389.0,1080.6 389.0,1030.7 338.4,1030.7 "></g>
<g><polygon points="287.8,170.6 338.4,170.6 338.4,164.1 287.8,167.4 "></g>
<g><polygon points="287.8,221.2 338.4,221.2 338.4,170.6 287.8,170.6 "></g>
<g><polygon points="287.8,271.8 338.4,271.8 338.4,221.2 287.8,221.2 "></g>
<g><polygon points="287.8,322.4 338.4,322.4 338.4,271.8 287.8,271.8 "></g>
<g><polygon points="287.8,373.0 338.4,373.0 338.4,322.4 287.8,322.4 "></g>
<g><polygon points="287.8,423.6 338.4,423.6 338.4,373.0 287.8,373.0 "></g>
<g><polygon points="287.8,474.2 338.4,474.2 338.4,423.6 287.8,423.6 "></g>
<g><polygon points="287.8,524.7 338.4,524.7 338.4,474.2 287.8,474.2 "></g>
<g><polygon points="287.8,575.3 338.4,575.3 338.4,524.7 287.8,524.7 "></g>
<g><polygon points="287.8,625.9 338.4,625.9 338.4,575.3 287.8,575.3 "></g>
<g><polygon points="287.8,676.5 338.4,676.5 338.4,625.9 287.8,625.9 "></g>
<g><polygon points="287.8,727.1 338.4,727.1 338.4,676.5 287.8,676.5 "></g>
<g><polygon points="287.8,777.7 338.4,777.7 338.4,727.1 287.8,727.1 "></g>
<g><polygon points="287.8,828.3 338.4,828.3 338.4,777.7 287.8,777.7 "></g>
<g><polygon points="287.8,878.9 338.4,878.9 338.4,828.3 287.8,828.3 "></g>
<g><polygon points="287.8,929.5 338.4,929.5 338.4,878.9 287.8,878.9 "></g>
<g><polygon points="287.8,980.1 338.4,980.1 338.4,929.5 287.8,929.5 "></g>
<g><polygon points="287.8,1030.7 338.4,1030.7 338.4,980.1 287.8,980.1 "></g>
<g><polygon points="287.8,1074.0 338.4,1077.3 338.4,1030.7 287.8,1030.7 "></g>
<g><polygon points="287.8,167.4 239.6,170.6 287.8,170.6 "></g>
<g><polygon points="237.2,221.2 287.8,221.2 287.8,170.6 239.6,170.6 237.2,170.7 "></g>
<g><polygon points="237.2,271.8 287.8,271.8 287.8,221.2 237.2,221.2 "></g>
<g><polygon points="237.2,322.4 287.8,322.4 287.8,271.8 237.2,271.8 "></g>
<g><polygon points="237.2,373.0 287.8,373.0 287.8,322.4 237.2,322.4 "></g>
<g><polygon points="237.2,423.6 287.8,423.6 287.8,373.0 237.2,373.0 "></g>
<g><polygon points="237.2,474.2 287.8,474.2 287.8,423.6 237.2,423.6 "></g>
<g><polygon points="237.2,524.7 287.8,524.7 287.8,474.2 237.2,474.2 "></g>
<g><polygon points="237.2,575.3 287.8,575.3 287.8,524.7 237.2,524.7 "></g>
<g><polygon points="237.2,625.9 287.8,625.9 287.8,575.3 237.2,575.3 "></g>
<g><polygon points="237.2,676.5 287.8,676.5 287.8,625.9 237.2,625.9 "></g>
<g><polygon points="237.2,727.1 287.8,727.1 287.8,676.5 237.2,676.5 "></g>
<g><polygon points="237.2,777.7 287.8,777.7 287.8,727.1 237.2,727.1 "></g>
<g><polygon points="237.2,828.3 287.8,828.3 287.8,777.7 237.2,777.7 "></g>
<g><polygon points="237.2,878.9 287.8,878.9 287.8,828.3 237.2,828.3 "></g>
<g><polygon points="237.2,929.5 287.8,929.5 287.8,878.9 237.2,878.9 "></g>
<g><polygon points="237.2,980.1 287.8,980.1 287.8,929.5 237.2,929.5 "></g>
<g><polygon points="237.2,1030.7 287.8,1030.7 287.8,980.1 237.2,980.1 "></g>
<g><polygon points="237.2,1070.7 287.8,1074.0 287.8,1030.7 237.2,1030.7 "></g>
<g><polygon points="186.7,221.2 237.2,221.2 237.2,170.7 186.7,174.1 "></g>
<g><polygon points="186.7,271.8 237.2,271.8 237.2,221.2 186.7,221.2 "></g>
<g><polygon points="186.7,322.4 237.2,322.4 237.2,271.8 186.7,271.8 "></g>
<g><polygon points="186.7,373.0 237.2,373.0 237.2,322.4 186.7,322.4 "></g>
<g><polygon points="186.7,423.6 237.2,423.6 237.2,373.0 186.7,373.0 "></g>
<g><polygon points="186.7,474.2 237.2,474.2 237.2,423.6 186.7,423.6 "></g>
<g><polygon points="186.7,524.7 237.2,524.7 237.2,474.2 186.7,474.2 "></g>
<g><polygon points="186.7,575.3 237.2,575.3 237.2,524.7 186.7,524.7 "></g>
<g><polygon points="186.7,625.9 237.2,625.9 237.2,575.3 186.7,575.3 "></g>
<g><polygon points="186.7,676.5 237.2,676.5 237.2,625.9 186.7,625.9 "></g>
<g><polygon points="186.7,727.1 237.2,727.1 237.2,676.5 186.7,676.5 "></g>
<g><polygon points="186.7,777.7 237.2,777.7 237.2,727.1 186.7,727.1 "></g>
<g><polygon points="186.7,828.3 237.2,828.3 237.2,777.7 186.7,777.7 "></g>
<g><polygon points="186.7,878.9 237.2,878.9 237.2,828.3 186.7,828.3 "></g>
<g><polygon points="186.7,929.5 237.2,929.5 237.2,878.9 186.7,878.9 "></g>
<g><polygon points="186.7,980.1 237.2,980.1 237.2,929.5 186.7,929.5 "></g>
<g><polygon points="186.7,1030.7 237.2,1030.7 237.2,980.1 186.7,980.1 "></g>
<g><polygon points="186.7,1067.3 237.2,1070.7 237.2,1030.7 186.7,1030.7 "></g>
<g><polygon points="136.1,221.2 186.7,221.2 186.7,174.1 136.1,177.4 "></g>
<g><polygon points="136.1,271.8 186.7,271.8 186.7,221.2 136.1,221.2 "></g>
<g><polygon points="136.1,322.4 186.7,322.4 186.7,271.8 136.1,271.8 "></g>
<g><polygon points="136.1,373.0 186.7,373.0 186.7,322.4 136.1,322.4 "></g>
<g><polygon points="136.1,423.6 186.7,423.6 186.7,373.0 136.1,373.0 "></g>
<g><polygon points="136.1,474.2 186.7,474.2 186.7,423.6 136.1,423.6 "></g>
<g><polygon points="136.1,524.7 186.7,524.7 186.7,474.2 136.1,474.2 "></g>
<g><polygon points="136.1,575.3 186.7,575.3 186.7,524.7 136.1,524.7 "></g>
<g><polygon points="136.1,625.9 186.7,625.9 186.7,575.3 136.1,575.3 "></g>
<g><polygon points="136.1,676.5 186.7,676.5 186.7,625.9 136.1,625.9 "></g>
<g><polygon points="136.1,727.1 186.7,727.1 186.7,676.5 136.1,676.5 "></g>
<g><polygon points="136.1,777.7 186.7,777.7 186.7,727.1 136.1,727.1 "></g>
<g><polygon points="136.1,828.3 186.7,828.3 186.7,777.7 136.1,777.7 "></g>
<g><polygon points="136.1,878.9 186.7,878.9 186.7,828.3 136.1,828.3 "></g>
<g><polygon points="136.1,929.5 186.7,929.5 186.7,878.9 136.1,878.9 "></g>
<g><polygon points="136.1,980.1 186.7,980.1 186.7,929.5 136.1,929.5 "></g>
<g><polygon points="136.1,1030.7 186.7,1030.7 186.7,980.1 136.1,980.1 "></g>
<g><polygon points="136.1,1064.0 186.7,1067.3 186.7,1030.7 136.1,1030.7 "></g>
<g><polygon points="136.1,177.4 88.5,180.5 88.5,221.2 136.1,221.2 "></g>
<g><polygon points="88.5,221.2 88.5,271.8 136.1,271.8 136.1,221.2 "></g>
<g><polygon points="88.5,271.8 88.5,322.4 136.1,322.4 136.1,271.8 "></g>
<g><polygon points="88.5,322.4 88.5,373.0 136.1,373.0 136.1,322.4 "></g>
<g><polygon points="88.5,373.0 88.5,423.6 136.1,423.6 136.1,373.0 "></g>
<g><polygon points="88.5,423.6 88.5,474.2 136.1,474.2 136.1,423.6 "></g>
<g><polygon points="88.5,474.2 88.5,524.7 136.1,524.7 136.1,474.2 "></g>
<g><polygon points="88.5,524.7 88.5,575.3 136.1,575.3 136.1,524.7 "></g>
<g><polygon points="88.5,575.3 88.5,625.9 136.1,625.9 136.1,575.3 "></g>
<g><polygon points="88.5,625.9 88.5,676.5 136.1,676.5 136.1,625.9 "></g>
<g><polygon points="88.5,676.5 88.5,727.1 136.1,727.1 136.1,676.5 "></g>
<g><polygon points="88.5,727.1 88.5,777.7 136.1,777.7 136.1,727.1 "></g>
<g><polygon points="88.5,777.7 88.5,828.3 136.1,828.3 136.1,777.7 "></g>
<g><polygon points="88.5,828.3 88.5,878.9 136.1,878.9 136.1,828.3 "></g>
<g><polygon points="88.5,878.9 88.5,929.5 136.1,929.5 136.1,878.9 "></g>
<g><polygon points="88.5,929.5 88.5,980.1 136.1,980.1 136.1,929.5 "></g>
<g><polygon points="88.5,980.1 88.5,1030.7 136.1,1030.7 136.1,980.1 "></g>
<g><polygon points="88.5,1030.7 88.5,1060.9 136.1,1064.0 136.1,1030.7 "></g>
</g>
</svg>
