<ion-view title="GOLDILOCKS">
    <!-- <ion-nav-buttons side="left">
        <button class="button no-animation button-icon icon ion-ios7-arrow-back" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" ng-click="goBack()">
        </button>   
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button no-animation button-icon icon ion-ios7-gear" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); float: left;" on-tap="gotoSettings()" on-hold="holdMe()">
        </button>
        <button class="button no-animation button-icon icon ion-ios7-paperplane" style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" on-tap="sendFeedback()" on-hold="holdMe()">
        </button>

    </ion-nav-buttons> -->

<!-- added native scroll with overflow-scroll="true" -->
<ion-content class="onboardContent" has-header="true" scrollbar-y="false">  

    <ion-slide-box style="height:100%;" delegate-handle="onboardingBox" on-slide-changed="onboardSlideChanged(index)">
        <ion-slide>


                <div >
                    <form style="text-align:left; padding: 20px;">
                        <h1 style="text-align:center;">Welcome, {{currentUser.get('username')}}.</h1>
                        <p>Welcome to a world where you can check the weather indoors.</p><br />

                        <p>Don't hesitate to contact us with any feedback.  Just send us an email using the paper airplane!</p>  

                    </form>
<!--                    <img src="./res/icon/android/icon-96-xhdpi.png" style="position: absolute; bottom: 5px; right: -20px" />-->
                </div>

        </ion-slide>
        <!--<ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                        <img src="./img/ob-01.jpg" class="onboardImg" />
                </div>
        </ion-slide>
        <ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                        <img src="./img/ob-02.jpg" class="onboardImg" />
                </div>
        </ion-slide>
        <ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                        <img src="./img/ob-03.jpg" class="onboardImg" />
                </div>
        </ion-slide>
        <ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                        <img src="./img/ob-04.jpg" class="onboardImg" />
                </div>
        </ion-slide>
        <ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                        <img src="./img/ob-05.jpg" class="onboardImg" />
                </div>
        </ion-slide>-->
        <ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                        <img src="./img/ob-06.jpg" class="onboardImg" />
                </div>
                <button class="button button-calm onboardButton " ng-click="firstAction()">Let's do this!</button>
        </ion-slide>
<!--         <ion-slide class="onboardSlide">
                <div ng-show="currentUser">
                    <form>
                        <br/>
                        <br/>
                        <h1>Say goodbye to thumbing endlessly through your camera roll!</h1>
                    </form>
   
                    <button class="button button-calm " ng-click="showTags()">Let's do this!</button>

                </div>
        </ion-slide> -->
    </ion-slide-box>
    </ion-content>
</ion-view>