<ion-view view-title="Settings">

    <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
        <ion-toggle ng-model="settings.awesomeSauce">
            Awesome Sauce
        </ion-toggle>
    </ion-list>
      <ion-list>
          <ion-item>Friends Enabled: {{settings.enableFriends}}</ion-item>
          <ion-item>Awesome Sauce: {{settings.awesomeSauce}}</ion-item>
      </ion-list>
      <button ng-click="clickMe()">click me!</button>
      <br />
      <img id="image1" style="width: 100%"/ >
        <button class="button button-full button-calm logoutButton" ng-click="gotoOnboarding()">
            Guided Tour
        </button>
        <button class="button button-full button-calm logoutButton" ng-click="logOut()">
            Logout
        </button>

  </ion-content>
</ion-view>
