 <ion-view title="GOLDILOCKS">
    <ion-nav-back-button class="button-icon ion-ios-arrow-left">
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
    </ion-nav-buttons>

    <!--<ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-pin" ng-click="showRightMenu()"></button>
    </ion-nav-buttons>-->

    <ion-content>

        <div data-tap-disabled="true" id="svgContainer"  ng-include="'templates/map-svg.html'" onload="svgLoaded();" style="height: {{svgHeight}};">
        </div>
        
    </ion-content>

    <div class="bar bar-footer searchFooter" style="height: {{footerHeight}};">
        <!-- Browse SVG Charts go here: Histogram per active button, or live sensor history curve -->
        <div id="footchart" ng-hide="searchActive" style="z-index: 15; width: 100%; height: {{chartHeight}};">
            <div ng-hide="footerHidden" class="active-sensor"><p>Exploring {{active}}...<span> {{dataViewType}}</span><span ng-hide="errorHidden">No history. Try another.</span></p></div>
            <svg ng-hide="footerHidden" class="chart" style="z-index: 15;" ></svg>
            <p ng-show="footerHidden" style="text-align:center; line-height: 37px;">Expand for data view...</p>
           <a ng-hide="footerHidden" class="button icon ion-stats-bars button-stats" style="display:none;"></a>
            <a ng-hide="footerHidden" class="button icon ion-chevron-down button-toggle" style="display:block;" ng-click="toggleFooter()"></a>
            <a ng-show="footerHidden" class="button icon ion-chevron-up button-toggle" style="display:block;" ng-click="toggleFooter()"></a>

        </div>
           
        <!-- Search Sliders:Some shown based on selector, all graphic will be hidden-->
        <div ng-show="searchActive" class="bar searchBar">
            <div>
                <a class="button icon-left ion-heart button-heart" ng-click="openFavorites()"></a>
            </div>
            <div class="list" style="width: 100%;">
                <p ng-show="areCategoriesBlank()" style="text-align:center; line-height: 37px;">Tap your search categories...</p>
                <div ng-show="isSearching('sound')" class="item range searchSlider range-positive">
                    <i class="icon ion-volume-low"></i>
                    <input type="range" on-release="searchUpdate()" ng-model="searchValues.sound" min="{{sensorRanges[1].range[0]}}" max="{{sensorRanges[1].range[1]}}" name="sound">
                    <i class="icon ion-volume-high"></i>
                    <div class="sliderValue">{{searchValues.sound}}</div> 
                </div>
                <div ng-show="isSearching('temp')" class="item range searchSlider range-positive">
                    <i class="icon ion-thermometer"></i>
                    <input type="range" on-release="searchUpdate()" ng-model="searchValues.temp" min="{{sensorRanges[2].range[0]}}" max="{{sensorRanges[2].range[1]}}" name="temp">
                    <i class="icon ion-thermometer thermometer-override"></i>
                    <div class="sliderValue">{{searchValues.temp}}</div> 
                </div>
                <div ng-show="isSearching('light')" class="item range searchSlider range-positive">
                    <i class="icon ion-ios-lightbulb"></i>
                    <input type="range" on-release="searchUpdate()" ng-model="searchValues.light" min="{{sensorRanges[3].range[0]}}" max="{{sensorRanges[3].range[1]}}" name="light">
                    <i class="icon ion-ios-lightbulb-outline"></i>
                    <div class="sliderValue">{{searchValues.light}}</div> 
                </div>
                <div ng-show="isSearching('motion')" class="item range searchSlider range-positive">
                    <i class="icon ion-load-d"></i>
                    <input type="range" on-release="searchUpdate()" ng-model="searchValues.motion" min="{{sensorRanges[4].range[0]}}" max="{{sensorRanges[4].range[1]}}" name="motion">
                    <i class="icon ion-load-b"></i>
                    <div class="sliderValue">{{searchValues.motion}}</div> 
                </div>
            </div>
        </div>

        <!-- Browse sensor toggles: only one can be active -->
        <div ng-hide="searchActive" class="bar sensorBar">
            <div class="button-bar">
                <a class="button icon icon-center ion-ios-volume-high" ng-class="{'button-sound': isActive('sound')}" ng-click="setActive('sound')"></a>
                <a class="button icon ion-thermometer" ng-class="{'button-temp': isActive('temp')}" ng-click="setActive('temp')"></a>
                <a class="button icon ion-ios-lightbulb" ng-class="{'button-lite': isActive('light')}" ng-click="setActive('light')"></a>
                <a class="button icon ion-load-d" ng-class="{'button-motion': isActive('motion')}" ng-click="setActive('motion')"></a>
            </div>
            <a class="button icon ion-android-search button-search" ng-class="{'button-seafoam': isSearchActive()}" ng-click="toggleSearchActive()"></a>            
        </div>
        <!-- Search sensor toggles: each can toggle on/off -->
        <div ng-show="searchActive" class="bar sensorBar">
            <div class="button-bar">
                <a class="button icon ion-ios-volume-high" ng-class="{'button-sound': isSearching('sound')}" ng-click="setSearchActive('sound')"></a>
                <a class="button icon ion-thermometer" ng-class="{'button-temp': isSearching('temp')}" ng-click="setSearchActive('temp')"></a>
                <a class="button icon ion-ios-lightbulb" ng-class="{'button-lite': isSearching('light')}" ng-click="setSearchActive('light')"></a>
                <a class="button icon ion-load-d" ng-class="{'button-motion': isSearching('motion')}" ng-click="setSearchActive('motion')"></a>
            </div>
            <a class="button icon ion-android-search button-search" ng-class="{'button-seafoam': isSearchActive()}" ng-click="toggleSearchActive()"></a>
        </div>

</ion-view>


<!-- FAVORITES MODAL -->

<script id="faves-modal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
            <h1 class="title">I'm in the mood for...</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <ion-list>
                <br style="line-height: 44px;"/>
                <ion-item ng-click="adjustSliders({{presets.coolQuiet}})">cool and quiet</ion-item>
                <ion-item ng-click="adjustSliders({{presets.loudLively}})">loud and lively</ion-item>
                <ion-item ng-click="adjustSliders({{presets.warmBright}})">warm and bright</ion-item>
                <!--<ion-item ng-click="modal.hide()">cancel</ion-item>-->

            </ion-list>
        </content>
    </div>
</script>
