<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-item-hide tabs-icon-top has-header tabs-stable tabs-background-stable tabs-color-positive">
    <ion-tab title="Map" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/map/1">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
    
    <!-- Dashboard Tab 
    <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Drop" icon-off="ion-pin" icon-on="ion-pin-strong" href="#/tab/pin">
        <ion-nav-view name="tab-pin"></ion-nav-view>
    </ion-tab>
     <ion-tab title="Locate" icon-off="ion-pinpoint" icon-on="ion-pinpoint-strong" href="#/tab/pin">
        <ion-nav-view name="tab-pin"></ion-nav-view>
    </ion-tab>-->
</ion-tabs>


