polygon {
    stroke-width: 1px;
}
path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}
.offTip {
    fill: yellow    ;
}

line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
}

path.line {
    stroke-width: 3;
}

#svgContainer {
    width: 100%;
    overflow: hidden;
}

svg.chart {
    height: 138px;
}

svg {
    stroke: black;
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 1;
    shape-rendering: auto;
    overflow: hidden;
}
svg#map{
    -webkit-transform: translate3d(0, 0, 0);
}
svg #BG{
    fill: none;
}
svg #BG g{
     -webkit-transform: translate3d(0, 0, 0);
    stroke: none;
    mix-blend-mode: multiply;
}

#L2 {
    stroke: darkgrey;
    stroke-width: 1;
}
#L3 polygon{
    stroke: darkgrey;
    stroke-width: 1;
}
svg text{
    fill: #123414; 
    stroke: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    stroke-width: 0;
}
svg#map g text.street {
    font-size: 87px;
    fill: #333;
}
.tooltip{
    z-index: 22;
    font-size: 9pt;
}

g.over.activeTip rect{
    fill : rgba(255, 190, 75, 1);
    stroke: darkgray; 
    stroke-width: 1px;
}

.activeCircle{
    stroke-width: 3;
    stroke: #0c60ee;    
}

 g.over rect{
    stroke: none;
    fill: rgba(255,255,255,1);
        stroke: darkgray;
    stroke-width: 1px;

}
text.ttRead {
    font-size: 24px;
    font-weight: 400;
}
text.ttUnits {
    font-size: 10px;
    font-weight: 700;
}

 g#circ circle{
    stroke: black;
    stroke-width: 1px;
}
 g.over path{
    stroke: darkgrey;
    stroke-width: 1px;
    fill: rgba(255,255,255,0.5);
}
.tab1.pane {$calm;}
.tab2.pane {$assertive;}
.tab3.pane {$energized;}
.tab4.pane {$positive;}


/*SVG MAP OBJECT COLORS */
/*Roads*/
.st0 {
    fill: #FFF !important;
}

/*Walkways, etc*/
.st1 {
    fill: #EBEDE0 !important;
    stroke: #444 !important;
}

/*Context Bldgs*/
.st13 {
    fill: #F5F7ED !important;
    stroke: #CDCFC6 !important;
    stroke-width: 6px !important;
}

/*Benches, etc*/
.st5,.st7 {
    fill: #DEE0DB !important;
    stroke: #BEBFBB !important;
    stroke-width: 2px !important; 
}

/*Trees*/
circle.st5 {
    fill: #65854E !important;
    stroke: #BEBFBB !important;
    stroke-width: 2px !important;
}

/*Park Paving*/
.st2 {
    fill: #F0F2E4 !important;
    stroke: #CDCFC6 !important;
    stroke-width: 4px !important;
}

/*Citybike*/
.st8 {
    fill: #9EC8FF !important;
    stroke: #BEBFBB !important;
    stroke-width: 2px !important; 

}

/*You are here*/
#YouAreHere {
    fill: red !important;
    stroke: black !important;
    stroke-width: 2px !important; 

}

/*Ionic Overrides*/

/*Make slideboxes fill the height color-profile thead device*/
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 45px;
  color: #000;
  background: #F5F5F5;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.slider-pager {
	position: absolute;
	top: 15px !important;
}

/*ONBOARDING*/
.onboardContent .scroll {
	height:100%;
}

.onboardImg {
	width: 100%; 
	border: 1px solid #666; 
  position: relative;
  top: -85px;
}

.onboardSlide {
  height: 100%;
}

.onboardButton {
}

/*Interface CSS*/


.login {
     width:100%; 
     text-align:center;
}


.searchFooter {
    border: 1px solid #ccc;
    box-shadow: 0px -1px 4px #ccc;
    background-size: 100% 0px;
    background-color: #ddd;
}

.featureSlider {
    width: 100%;
    margin-top: -10px;
}

.searchSlider {
    width: 100%;
    margin-top: -11px;
    margin-bottom: -12px;
    border-width: 0px !important;
    background-color: #ddd;
}

.featureBar {
    position: absolute;
    bottom: 65px;
}
.sensorBar {
    position: absolute;
    bottom: 10px;
    padding-left: 11px;
    background-size: 100% 0px;
    background-color: #ddd;
}
.searchBar {
        background-size: 100% 0px;
        background-color: #ddd;
}
.button-stats {
    position: absolute;
    top: 8px;
    right: 50px;
}
.button-heart {
    position: absolute;
    top: -50px;
    right: 5px;
}
.button-toggle {
    position: absolute;
    top: 8px;
    right: 5px;
}

.button-search {
    min-width: 10% !important;
    margin-left: 15px !important;
}

.active-sensor {
    position: absolute;
    left: 8px;
    top: 8px;
}
/*.item{
    background-color: #eee;
}

.favesModal {
    background-color: #eee;
}*/
/* Color for Browse Sensor Buttons */

.button-sound {
    background-color: rgba(255, 210, 255, 1);

}

.button-temp {
    background-color: rgba(255, 205, 206, 1);

}

.button-lite {
    background-color: rgba(255, 229, 163, 1);
}

.button-motion {
    background-color: rgba(202, 242, 250, 1);
}

/* Color for Search Sensor Buttons */

.button-seafoam {
    border-color: #23946B;
    background-color: #2BB583;
}

.sliderValue {
    min-width: 10%;
    margin: 0px -4px 0px 15px;
    text-align: right;
}

/*Ionic Overrides*/
.bar {
    background-size: 100% 0px;
    z-index: 1000;
}

 .loading {

 }

.loading-container {
    
}

.spinner svg {

}

.modal {
    display: block;
    position: absolute;
    top: 15%;
    left: 8%;
    z-index: 10;
    overflow: hidden;
    min-height: 65%;
    width: 84%;
    background-color: #fff;
}

.button.button-positive {
    border-color: #23946B;
    background-color: #2BB583;
}

.bar.bar-positive {
    border-color: #23946B !important;
    background-color: #2BB583 !important;
}

.button-positive {
    border-color: #23946B;
    background-color: #2BB583;
}

.bar-positive {
    border-color: #23946B !important;
    background-color: #2BB583 !important;
}

.thermometer-override {

}