<ion-view view-title="Dashboard">
    <ion-nav-back-button class="button-icon ion-ios-arrow-left">
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person" ng-click="showRightMenu()"></button>
    </ion-nav-buttons>

    <ion-content class="padding">
        <!--<h2>Highchart</h2>
        <div style="position:absolute;height: 100%;border: 1px solid red;width: 100%;" class="has-header has-footer">
            <highchart id="chart1" config="chartConfig"></highchart>
        </div>-->

        <h2>Chart.js</h2>
        <canvas id="sound" class="chart chart-line" data="data"
                labels="labels" legend="true" series="series" options="options"
                click="onClick"></canvas> 

        <br/>
        <h2>Raw Data</h2>
        <div ng-repeat="dataPt in results.data.feeds">
            <div class="list card">
                <div class="item item-divider"></div>
                <div class="item item-body">
                    <div>{{dataPt}}</div>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>
