<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/Ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/Ionic/js/ionic.bundle.js"></script>
    <!--<script src="lib/ionic/js/angular/angular-resource.min.js"></script>-->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- Libraries 
 <script src="https://rawgit.com/pablojim/highcharts-ng/master/src/highcharts-ng.js"></script> 
  -->
    <script src="lib/Chart.js"></script>
    <script src="lib/angular-chart.js"></script>

    <script src="lib/d3mod.js"></script>
    <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
   <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
    
    <!-- your app's js -->
    <script src="js/utility.js"></script>
    <script src="js/parseInit.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <!--
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    -->

</head>
<body ng-app="serg">
    

    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus ng-controller="NavCtrl">


        
        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive">
            </ion-nav-bar>
            <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>

        <ion-side-menu width="150" side="left">
            <ion-header-bar align-title="left" class="bar bar-header bar-assertive">
                <h1 class="title">Actions</h1>
            </ion-header-bar>
            <ion-content has-header="true">
                <ul class="list">
                    <li>
                        <a class="item" menu-close="" nav-clear="" ng-click="gotoOnboarding();">Guided Tour</a>
                    </li>
                    <li>
                        <a class="item" menu-close="" ng-click="sendFeedback();">Send Feedback</a> 
                    </li>
                    <li>
                        <a class="item" menu-close="" nav-clear="" ng-click="logOut();">Logout</a>
                    </li>
                </ul>
            </ion-content>
        </ion-side-menu>
        <!-- 
        <ion-side-menu width="150" side="right">
            <ion-header-bar align-title="left" class="bar bar-header bar-assertive">
                <h1 class="title">Drop a Pin!</h1>
            </ion-header-bar>
            <ion-content>
                
            </ion-content>
        </ion-side-menu>
-->
    </ion-side-menus>

</body>
</html>
